/*------------------------------------*\
    $BANNER
\*------------------------------------*/

.banner {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0;

  .four-fifths, .one-fifth {
    vertical-align: middle;
  }
}
