/*------------------------------------*\
    $MODULE-HERO
\*------------------------------------*/

.hero {
  figcaption {
    padding: 20px 0;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 100;
    color: #333;
    padding-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
  }
}