/*------------------------------------*\
    $PANNELS
\*------------------------------------*/

.panel {
  background: #fff;
  margin-bottom: 30px;
  border-bottom: 4px solid #e3e4e8;
  @include border-radius (6px);
  padding: 20px;
  overflow:hidden; /*clearfix*/
  vertical-align: top;

  h2 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }
}

.top-panel {
    background: #f6f8fa;
    padding: 20px;
    @include border-radius(4px);

  }
.bottom-panel {
  background: #fff;
  @include border-radius(4px);
  padding: 20px 10px 20px 20px;
  border-bottom: 4px solid #e3e4e8;
}


.icon-panel {
  vertical-align: top;

  @include media-query(palm) {
    width: 100%;
    display: block;
  }

  li {
    padding: 10px 0;
    font-weight: 100;
    pointer: cursor;
    color: #a4a9ae;
  img {
    padding-right: 5px;
  }

    &:hover {
      color: #3baeda;
    }
  }
}

.post-panel {
  vertical-align: top;

  @include media-query(palm) {
    width: 100%;
    display: block;
  }

  .bottom-panel {
    overflow: hidden; /*clearfix*/
  }

  li {
    padding: 20px 0;
    border-top: 1px solid #e3e4e8;
    }

  .first {
    border-top: none;
    padding-top: 0;
  }

  img, .text {
    display:inline-block;
    padding: 0 5px;
    vertical-align: top;
  }
  img {
    @include border-radius(10px);
  }
  .text {
    max-width:60%;

    h5 {
      margin: 0 0 10px 0;
      line-height: 1em;
      font-size: 14px;
      color: $secondary;
    }
    p {
      font-size: 12px;
      font-weight: 100;
    }
  }
}

.main-content {
  .panel.forty-width, .sixty-width {
    @include media-query(palm) {
      width: 100%;
      display: block;

    }

    @include media-query(lap) {
      padding: 10px;

      .social-btn {
        width: 100%;
      }
    }

  }
}
