-# coding: utf-8
!!! 5
%html
  %head
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width", :name => "viewport"}

    %title Redradix

    /[if lt IE 9]
      %script{:src=>"assets/javascripts/dependencies/html5shiv.js"}

    %link{:href=> "assets/stylesheets/screen.css", :rel=> 'stylesheet'}

  %body
    .wrapper
      %header.main-header
        %nav
          %ul.panel.epsilon
            %li.inline-content>
              %a{:href=>"#"}Flatic
            %li.inline-content>
              %a{:href=>"#"}Home
            %li.inline-content>
              %a{:href=>"#"}About
            %li.inline-content>
              %a{:href=>"#"}Services
            %li.inline-content>
              %a{:href=>"#"}Portfolio
            %li.inline-content>
              %a{:href=>"#"}Contact
            %li.inline-content
              %form
                %input.basic-form{:type=>"text", :placeholder=>"Search for something :)"}

      .main-content
        .hero
          .panel
            %figure
              %img{:src => "assets/images/hero.jpg", :alt => "hero"}/
              %figcaption
                %h1 Full with slider
                %p Integer ornare libero nisi. Duis ac magna urna. Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla. Suspendisse nec orci vel elit aliquet blandit in non orci.

        .panel.box.one-whole
          %figure
            %img.left{:src => "assets/images/city.jpg", :alt => "city"}/
            %figcaption.left.three-fifths
              %h2 Fresh apricort with huge sale
              .icon.icon-user M.Elgendy
              %p Integer ornare libero nisi. Duis ac magna urna. Nulla facilisi. Phasellus at ante magna.Quisque nec porta nulla. Suspendisse nec orci vel elit aliquet blandit in non orci. Vivamus posuere dui eget lacinia rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...
              %button.btn.btn-normal{:type=>"button"} Show More
        .panel.box.half-width.mr.inline-content>
          %figure
            %img{:src => "assets/images/city.jpg", :alt => "city"}/
            %figcaption
              %h2 Fresh apricort with huge sale
              .icon.icon-user M.Elgendy
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eos, delectus, consequuntur provident deleniti perspiciatis sint aliquam ipsum sit neque et modi deserunt tempora impedit ipsa eum placeat nobis %quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, suscipit, omnis, repellat sit fuga accusantium magnam veritatis minus harum similique itaque quae tempora dolorum nulla a porro sapiente officia cumque.
              %button.btn.btn-normal{:type=>"button"} Show More
        .panel.box.half-width.ml.inline-content>
          %figure
            %img{:src => "assets/images/city.jpg", :alt => "city"}/
            %figcaption
              %h2 Fresh apricort with huge sale
              .icon.icon-user M.Elgendy
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eos, delectus, consequuntur provident deleniti perspiciatis sint aliquam ipsum sit neque et modi deserunt tempora impedit ipsa eum placeat nobis quam.
              %button.btn.btn-normal{:type=>"button"} Show More
        .panel.box.half-width.mr.inline-content>
          %figure
            %img{:src => "assets/images/city.jpg", :alt => "city"}/
            %figcaption
              %h2 Fresh apricort with huge sale
              .icon.icon-user M.Elgendy
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eos, delectus, consequuntur provident deleniti perspiciatis sint aliquam ipsum sit neque et modi deserunt tempora impedit ipsa eum placeat nobis quam.
              %button.btn.btn-normal{:type=>"button"} Show More
        .panel.box.half-width.ml.inline-content>
          %figure
            %img{:src => "assets/images/city.jpg", :alt => "city"}/
            %figcaption
              %h2 Fresh apricort with huge sale
              .icon.icon-user M.Elgendy
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eos, delectus, consequuntur provident deleniti perspiciatis sint aliquam ipsum sit neque et modi deserunt tempora impedit ipsa eum placeat nobis quam.
              %button.btn.btn-normal{:type=>"button"} Show More
        .btn-group.right.btn
          %ol
            %li.arrow-l>
              %a{:href => "#"} <
            %li>
              %a{:href => "#"} 1
            %li>
              %a{:href => "#"} 2
            %li>
              %a{:href => "#"} 3
            %li>
              %a{:href => "#"} 4
            %li>
              %a{:href => "#"} 5
            %li>
              %a{:href => "#"} 6
            %li>
              %a{:href => "#"} 7
            %li.arrow-r>
              %a{:href => "#"} >

      %footer
        .company-info.one-fifth.left>
          %h3
            %a{:href => "#"} Flatic
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, incidunt, quam, ea quas repellendus ducimus recusandae dignissimos possimus dolor

        .list-group.one-whole>
          %ul.one-quarter<
            %li.heading About Us
            %li
              %a{:href => "#"} Dashboard
            %li
              %a{:href => "#"} Feed
            %li
              %a{:href => "#"} Forums
            %li
              %a{:href => "#"} Journal
            %li
              %a{:href => "#"} Store
            %li
              %a{:href => "#"} Dashboard
          %ul.one-quarter>
            %li.heading Categories
            %li
              %a{:href => "#"} Web Designs
            %li
              %a{:href => "#"} Photography
            %li
              %a{:href => "#"} Digital Art
            %li
              %a{:href => "#"} Vector Art
            %li
              %a{:href => "#"} Tutorials
          %ul.one-quarter>
            %li.heading Networks
            %li
              %a{:href => "#"} Other Sites
            %li
              %a{:href => "#"} Insight
            %li
              %a{:href => "#"} Planning
            %li
              %a{:href => "#"} Production
            %li
              %a{:href => "#"} Store
          %ul.one-quarter>
            %li.heading Follow us
            %li
              %a{:href => "#"} Facebook
            %li
              %a{:href => "#"} Twitter
            %li
              %a{:href => "#"} Linkedin
            %li
              %a{:href => "#"} Rss Feed
            %li
              %a{:href => "#"} Youtube
