/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
/* line 6, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 20, ../sass/base/_normalize.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 24, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 30, ../sass/base/_normalize.scss */
body {
  margin: 0; }

/* line 35, ../sass/base/_normalize.scss */
a {
  background: transparent; }

/* line 39, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 43, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 48, ../sass/base/_normalize.scss */
h1, h2, h2, h3, h4, h6 {
  margin: 0; }

/* line 58, ../sass/base/_normalize.scss */
p {
  margin: 0; }

/* line 62, ../sass/base/_normalize.scss */
::selection {
  background: green;
  color: #FFF; }

/* line 66, ../sass/base/_normalize.scss */
::-moz-selection {
  background: green;
  color: #FFF; }

/* line 71, ../sass/base/_normalize.scss */
ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 77, ../sass/base/_normalize.scss */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

/* line 84, ../sass/base/_normalize.scss */
iframe {
  max-width: 100%; }

/* line 88, ../sass/base/_normalize.scss */
figure {
  margin: 0; }

/* line 92, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 50em) {
  /* line 20, ../sass/base/_grid.scss */
  .one-whole {
    width: 100%; }

  /* line 26, ../sass/base/_grid.scss */
  .one-half, .two-quarters {
    width: 50%; }

  /* line 31, ../sass/base/_grid.scss */
  .one-third {
    width: 33.333%; }

  /* line 32, ../sass/base/_grid.scss */
  .two-thirds {
    width: 66.666%; }

  /* line 38, ../sass/base/_grid.scss */
  .one-quarter {
    width: 25%; }

  /* line 40, ../sass/base/_grid.scss */
  .three-quarters {
    width: 75%; }

  /* line 46, ../sass/base/_grid.scss */
  .one-fifth {
    width: 20%; }

  /* line 48, ../sass/base/_grid.scss */
  .three-fifths {
    width: 60%; }

  /* line 49, ../sass/base/_grid.scss */
  .four-fifths {
    width: 80%; } }
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: '"Economica", Arial, Helvetica, sans-serif';
  src: url("../../fonts/Economica-Bold-OTF.otf");
  /* IE9 Compat Modes */
  src: url("../../fonts/Economica-Bold-OTF.otf?#iefix") format("embedded-opentype"), url("../../fonts/Economica-Bold-OTF.woff") format("woff"), url("../../fonts/Economica-Bold-OTF.ttf") format("truetype"), url('../../fonts/Economica-Bold-OTF.svg#"Economica", Arial, Helvetica, sans-serif') format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
/* Global */
/* line 11, ../sass/base/_base.scss */
html {
  font-size: 87.5%; }

/* line 15, ../sass/base/_base.scss */
body {
  background: #f0f2f5;
  color: #99a3b1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: normal; }

/* Block Content */
/* line 26, ../sass/base/_base.scss */
h2 {
  color: #ed5565; }

/* line 30, ../sass/base/_base.scss */
h1, h2, h2, h3, h4, h6 {
  font-size: 1em;
  font-weight: bold;
  font-family: "Economica", Arial, Helvetica, sans-serif; }

/* line 36, ../sass/base/_base.scss */
p {
  line-height: 1.3; }

/* Inline Content */
/* line 42, ../sass/base/_base.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 47, ../sass/base/_base.scss */
p a {
  color: green; }

/* line 52, ../sass/base/_base.scss */
.centered {
  text-align: center; }

/* line 55, ../sass/base/_base.scss */
.left-align {
  text-align: left; }

/* line 58, ../sass/base/_base.scss */
.right-align {
  text-align: right; }

/* line 63, ../sass/base/_base.scss */
.left {
  float: left; }

/* line 66, ../sass/base/_base.scss */
.right {
  float: right; }

/* line 69, ../sass/base/_base.scss */
.center {
  margin: 0 auto; }

/* line 72, ../sass/base/_base.scss */
.no-float {
  float: none; }

/* line 76, ../sass/base/_base.scss */
.inline-content {
  display: inline-block; }

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/* line 6, ../sass/base/_headings.scss */
h1, .alpha {
  font-size: 28px;
  font-size: 2rem; }

/* line 9, ../sass/base/_headings.scss */
h2, .beta {
  font-size: 24px;
  font-size: 1.71429rem; }

/* line 12, ../sass/base/_headings.scss */
h3, .gamma {
  font-size: 20px;
  font-size: 1.42857rem; }

/* line 18, ../sass/base/_headings.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* line 6, ../sass/base/_layout.scss */
.wrapper {
  width: 98%;
  max-width: 975px;
  margin: 0 auto; }

/* line 12, ../sass/base/_layout.scss */
article {
  margin: 30px 0; }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
/* line 22, ../sass/base/_layout.scss */
.g {
  letter-spacing: -0.35em; }
  /* line 24, ../sass/base/_layout.scss */
  .g > * {
    letter-spacing: normal; }

/* Grid Item */
/* line 30, ../sass/base/_layout.scss */
.gi {
  letter-spacing: normal; }
  @media only screen and (min-width: 50em) {
    /* line 30, ../sass/base/_layout.scss */
    .gi {
      display: inline-block;
      vertical-align: top; } }

/* line 41, ../sass/base/_layout.scss */
.mr {
  margin-right: 1%; }

/* line 45, ../sass/base/_layout.scss */
.ml {
  margin-left: 1%; }

/* line 49, ../sass/base/_layout.scss */
.half-width {
  width: 49%; }

/* line 53, ../sass/base/_layout.scss */
.forty-width {
  width: 39%; }

/* line 57, ../sass/base/_layout.scss */
.forty-width {
  width: 39%; }

/* line 61, ../sass/base/_layout.scss */
.sixty-width {
  width: 59%; }

/* line 65, ../sass/base/_layout.scss */
.sixty-width {
  width: 59%; }

/* line 69, ../sass/base/_layout.scss */
.onethird-width {
  width: 32.33%; }

/* line 73, ../sass/base/_layout.scss */
.eighty-width {
  width: 79%; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/* line 5, ../sass/base/_forms.scss */
form {
  margin: 0; }

/* line 9, ../sass/base/_forms.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0; }

/* line 15, ../sass/base/_forms.scss */
button,
input,
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

/* line 21, ../sass/base/_forms.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 26, ../sass/base/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 31, ../sass/base/_forms.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

/* line 36, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  width: auto; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* line 45, ../sass/base/_forms.scss */
.basic-form {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 10px;
  border: 2px solid #e3e4e8;
  font-size: 12px; }
  /* line 51, ../sass/base/_forms.scss */
  .basic-form:focus {
    outline: none; }

/* line 57, ../sass/base/_forms.scss */
header .basic-form {
  width: 100%;
  background: #f0f2f5;
  border-top: 1px solid #ccced0;
  font-size: 12px;
  list-style: italic;
  margin-left: 55px; }
  @media only screen and (max-width: 49.92857em) {
    /* line 57, ../sass/base/_forms.scss */
    header .basic-form {
      margin-left: 0; } }

/* line 72, ../sass/base/_forms.scss */
select {
  height: 37px;
  background-color: #fff; }
  /* line 76, ../sass/base/_forms.scss */
  select:after {
    content: "";
    background: #ccc; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/* line 6, ../sass/objects/_buttons.scss */
.btn {
  background: #ed5565;
  color: #fff;
  border: none;
  border-bottom: 3px solid #da4453;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 1px 1px 1px #cccccc;
  -moz-box-shadow: 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  margin-top: 10px;
  overflow: hidden;
  /*clearfix*/ }
  /* line 16, ../sass/objects/_buttons.scss */
  .btn:focus {
    outline: none; }

/* line 21, ../sass/objects/_buttons.scss */
.btn-normal {
  padding: 10px;
  cursor: pointer; }

/* line 26, ../sass/objects/_buttons.scss */
.btn-xl {
  width: 130px;
  cursor: pointer; }

/* line 31, ../sass/objects/_buttons.scss */
.send {
  text-align: center; }

/* line 35, ../sass/objects/_buttons.scss */
.btn-group {
  margin-bottom: 40px; }
  @media only screen and (max-width: 49.92857em) {
    /* line 35, ../sass/objects/_buttons.scss */
    .btn-group {
      float: none;
      margin: 30px auto;
      width: 85%;
      text-align: center; } }
  /* line 45, ../sass/objects/_buttons.scss */
  .btn-group .arrow-l {
    border-right: 1px solid #f0f2f5; }
  /* line 50, ../sass/objects/_buttons.scss */
  .btn-group .arrow-r {
    border-left: 1px solid #f0f2f5;
    border-right: none; }
  /* line 55, ../sass/objects/_buttons.scss */
  .btn-group ol {
    padding: 0; }
  /* line 59, ../sass/objects/_buttons.scss */
  .btn-group li {
    display: inline-block;
    margin: 0;
    border-right: 1px solid #da4453;
    padding: 15px; }
    @media only screen and (max-width: 49.92857em) {
      /* line 59, ../sass/objects/_buttons.scss */
      .btn-group li {
        padding: 14px; } }
    /* line 69, ../sass/objects/_buttons.scss */
    .btn-group li:hover {
      background: #da4453;
      opacity: 1; }

/* line 76, ../sass/objects/_buttons.scss */
.social-btn {
  text-align: center; }
  /* line 79, ../sass/objects/_buttons.scss */
  .social-btn .facebook {
    width: 80%;
    background: #5d9cec;
    border: none;
    padding: 15px 0; }
    @media only screen and (min-width: 50em) and (max-width: 69.21429em) {
      /* line 79, ../sass/objects/_buttons.scss */
      .social-btn .facebook {
        width: 100%; } }
  /* line 91, ../sass/objects/_buttons.scss */
  .social-btn .twitter {
    width: 80%;
    background: #4fc0e8;
    border: none;
    padding: 15px 0; }
    @media only screen and (min-width: 50em) and (max-width: 69.21429em) {
      /* line 91, ../sass/objects/_buttons.scss */
      .social-btn .twitter {
        width: 100%; } }
  /* line 102, ../sass/objects/_buttons.scss */
  .social-btn .google {
    width: 80%;
    border: none;
    padding: 15px 0; }
    @media only screen and (min-width: 50em) and (max-width: 69.21429em) {
      /* line 102, ../sass/objects/_buttons.scss */
      .social-btn .google {
        width: 100%; } }
  /* line 112, ../sass/objects/_buttons.scss */
  .social-btn .icon {
    padding-right: 10px; }

/* line 117, ../sass/objects/_buttons.scss */
.secondary-btn {
  background-color: #fff;
  color: #ed5565;
  padding: 15px 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  float: right;
  font-weight: bold; }
  @media only screen and (max-width: 49.92857em) {
    /* line 117, ../sass/objects/_buttons.scss */
    .secondary-btn {
      margin-top: 20px; } }

/* line 130, ../sass/objects/_buttons.scss */
.banner {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0; }
  @media only screen and (max-width: 49.92857em) {
    /* line 130, ../sass/objects/_buttons.scss */
    .banner {
      text-align: center; } }
  /* line 140, ../sass/objects/_buttons.scss */
  .banner .four-fifths, .banner .one-fifth {
    vertical-align: middle; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
/* line 5, ../sass/objects/_header.scss */
.main-header {
  position: relative; }
  /* line 8, ../sass/objects/_header.scss */
  .main-header .panel {
    padding: 10px 20px 10px 0;
    margin-top: 50px; }
    @media only screen and (max-width: 49.92857em) {
      /* line 8, ../sass/objects/_header.scss */
      .main-header .panel {
        padding: 10px; } }
    /* line 15, ../sass/objects/_header.scss */
    .main-header .panel form {
      position: absolute;
      top: 8px;
      right: 70px; }
      @media only screen and (max-width: 49.92857em) {
        /* line 15, ../sass/objects/_header.scss */
        .main-header .panel form {
          position: static; } }
  /* line 26, ../sass/objects/_header.scss */
  .main-header li {
    line-height: 45px; }
    @media only screen and (max-width: 49.92857em) {
      /* line 26, ../sass/objects/_header.scss */
      .main-header li {
        display: block; } }
    /* line 33, ../sass/objects/_header.scss */
    .main-header li a {
      padding: 30px;
      border-right: 1px solid #e3e4e8;
      display: inline; }
      @media only screen and (max-width: 49.92857em) {
        /* line 33, ../sass/objects/_header.scss */
        .main-header li a {
          border-right: none;
          padding: 10px;
          display: block; } }
      @media only screen and (min-width: 50em) and (max-width: 69.21429em) {
        /* line 33, ../sass/objects/_header.scss */
        .main-header li a {
          padding: 20px; } }
      /* line 48, ../sass/objects/_header.scss */
      .main-header li a:hover {
        background: #ed5565;
        color: #fff; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/* line 6, ../sass/objects/_footer.scss */
footer {
  clear: both;
  overflow: hidden;
  /*clearfix*/
  position: relative; }
  /* line 10, ../sass/objects/_footer.scss */
  footer ul {
    display: inline-block;
    vertical-align: top; }
    @media only screen and (max-width: 49.92857em) {
      /* line 10, ../sass/objects/_footer.scss */
      footer ul {
        padding: 20px 30px; } }
  /* line 20, ../sass/objects/_footer.scss */
  footer a {
    color: #fff;
    padding: 5px 0;
    display: inline-block; }
  /* line 26, ../sass/objects/_footer.scss */
  footer .heading {
    padding-bottom: 20px; }
  /* line 30, ../sass/objects/_footer.scss */
  footer .list-group {
    background: #434a54;
    padding: 30px 30px 30px 240px; }
    @media only screen and (max-width: 49.92857em) {
      /* line 30, ../sass/objects/_footer.scss */
      footer .list-group {
        padding: 10px; } }
  /* line 39, ../sass/objects/_footer.scss */
  footer .company-info {
    background: #393f48;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    font-size: 12px;
    font-weight: 200; }
    @media only screen and (max-width: 49.92857em) {
      /* line 39, ../sass/objects/_footer.scss */
      footer .company-info {
        display: none; } }
    /* line 53, ../sass/objects/_footer.scss */
    footer .company-info h3 {
      margin-bottom: 20px; }

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?sagyfm");
  src: url("../../fonts/icomoon.eot?#iefixsagyfm") format("embedded-opentype"), url("../../fonts/icomoon.woff?sagyfm") format("woff"), url("../../fonts/icomoon.ttf?sagyfm") format("truetype"), url("../../fonts/icomoon.svg?sagyfm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 16, ../sass/objects/_icons.scss */
.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block; }

/* line 29, ../sass/objects/_icons.scss */
.icon-heart:before {
  content: "\e601"; }

/* line 32, ../sass/objects/_icons.scss */
.icon-cloud:before {
  content: "\e602"; }

/* line 35, ../sass/objects/_icons.scss */
.icon-star:before {
  content: "\e603"; }

/* line 38, ../sass/objects/_icons.scss */
.icon-tv:before {
  content: "\e604"; }

/* line 41, ../sass/objects/_icons.scss */
.icon-sound:before {
  content: "\e605"; }

/* line 44, ../sass/objects/_icons.scss */
.icon-video:before {
  content: "\e606"; }

/* line 47, ../sass/objects/_icons.scss */
.icon-trash:before {
  content: "\e607"; }

/* line 50, ../sass/objects/_icons.scss */
.icon-user:before {
  content: "\e608"; }

/* line 53, ../sass/objects/_icons.scss */
.icon-key:before {
  content: "\e609"; }

/* line 56, ../sass/objects/_icons.scss */
.icon-search:before {
  content: "\e60a"; }

/* line 59, ../sass/objects/_icons.scss */
.icon-settings:before {
  content: "\e60b"; }

/* line 62, ../sass/objects/_icons.scss */
.icon-camera:before {
  content: "\e60c"; }

/* line 65, ../sass/objects/_icons.scss */
.icon-tag:before {
  content: "\e60d"; }

/* line 68, ../sass/objects/_icons.scss */
.icon-lock:before {
  content: "\e60e"; }

/* line 71, ../sass/objects/_icons.scss */
.icon-bulb:before {
  content: "\e60f"; }

/* line 74, ../sass/objects/_icons.scss */
.icon-pen:before {
  content: "\e610"; }

/* line 77, ../sass/objects/_icons.scss */
.icon-diamond:before {
  content: "\e611"; }

/* line 80, ../sass/objects/_icons.scss */
.icon-display:before {
  content: "\e612"; }

/* line 83, ../sass/objects/_icons.scss */
.icon-location:before {
  content: "\e613"; }

/* line 86, ../sass/objects/_icons.scss */
.icon-eye:before {
  content: "\e614"; }

/* line 89, ../sass/objects/_icons.scss */
.icon-bubble:before {
  content: "\e615"; }

/* line 92, ../sass/objects/_icons.scss */
.icon-stack:before {
  content: "\e616"; }

/* line 95, ../sass/objects/_icons.scss */
.icon-cup:before {
  content: "\e617"; }

/* line 98, ../sass/objects/_icons.scss */
.icon-phone:before {
  content: "\e618"; }

/* line 101, ../sass/objects/_icons.scss */
.icon-news:before {
  content: "\e619"; }

/* line 104, ../sass/objects/_icons.scss */
.icon-mail:before {
  content: "\e61a"; }

/* line 107, ../sass/objects/_icons.scss */
.icon-like:before {
  content: "\e61b"; }

/* line 110, ../sass/objects/_icons.scss */
.icon-photo:before {
  content: "\e61c"; }

/* line 113, ../sass/objects/_icons.scss */
.icon-note:before {
  content: "\e61d"; }

/* line 116, ../sass/objects/_icons.scss */
.icon-clock:before {
  content: "\e61e"; }

/* line 119, ../sass/objects/_icons.scss */
.icon-paperplane:before {
  content: "\e61f"; }

/* line 122, ../sass/objects/_icons.scss */
.icon-params:before {
  content: "\e620"; }

/* line 125, ../sass/objects/_icons.scss */
.icon-banknote:before {
  content: "\e621"; }

/* line 128, ../sass/objects/_icons.scss */
.icon-data:before {
  content: "\e622"; }

/* line 131, ../sass/objects/_icons.scss */
.icon-music:before {
  content: "\e623"; }

/* line 134, ../sass/objects/_icons.scss */
.icon-megaphone:before {
  content: "\e624"; }

/* line 137, ../sass/objects/_icons.scss */
.icon-study:before {
  content: "\e625"; }

/* line 140, ../sass/objects/_icons.scss */
.icon-lab:before {
  content: "\e626"; }

/* line 143, ../sass/objects/_icons.scss */
.icon-food:before {
  content: "\e627"; }

/* line 146, ../sass/objects/_icons.scss */
.icon-t-shirt:before {
  content: "\e628"; }

/* line 149, ../sass/objects/_icons.scss */
.icon-fire:before {
  content: "\e629"; }

/* line 152, ../sass/objects/_icons.scss */
.icon-clip:before {
  content: "\e62a"; }

/* line 155, ../sass/objects/_icons.scss */
.icon-shop:before {
  content: "\e62b"; }

/* line 158, ../sass/objects/_icons.scss */
.icon-calendar:before {
  content: "\e62c"; }

/* line 161, ../sass/objects/_icons.scss */
.icon-wallet:before {
  content: "\e62d"; }

/* line 164, ../sass/objects/_icons.scss */
.icon-vynil:before {
  content: "\e62e"; }

/* line 167, ../sass/objects/_icons.scss */
.icon-truck:before {
  content: "\e62f"; }

/* line 170, ../sass/objects/_icons.scss */
.icon-world:before {
  content: "\e630"; }

/* line 173, ../sass/objects/_icons.scss */
.icon-bucket:before {
  content: "\e600"; }

/*------------------------------------*\
    $PANNELS
\*------------------------------------*/
/* line 5, ../sass/objects/_panels.scss */
.panel {
  background: #fff;
  margin-bottom: 30px;
  border-bottom: 4px solid #e3e4e8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 20px;
  overflow: hidden;
  /*clearfix*/
  vertical-align: top; }
  /* line 14, ../sass/objects/_panels.scss */
  .panel h2 {
    padding-bottom: 20px; }
  /* line 18, ../sass/objects/_panels.scss */
  .panel p {
    padding-bottom: 20px; }

/* line 23, ../sass/objects/_panels.scss */
.top-panel {
  background: #f6f8fa;
  padding: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

/* line 29, ../sass/objects/_panels.scss */
.bottom-panel {
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 20px 10px 20px 20px;
  border-bottom: 4px solid #e3e4e8; }

/* line 37, ../sass/objects/_panels.scss */
.icon-panel {
  vertical-align: top; }
  @media only screen and (max-width: 49.92857em) {
    /* line 37, ../sass/objects/_panels.scss */
    .icon-panel {
      width: 100%;
      display: block; } }
  /* line 45, ../sass/objects/_panels.scss */
  .icon-panel li {
    padding: 10px 0;
    font-weight: 100;
    pointer: cursor;
    color: #a4a9ae; }
    /* line 50, ../sass/objects/_panels.scss */
    .icon-panel li img {
      padding-right: 5px; }
    /* line 54, ../sass/objects/_panels.scss */
    .icon-panel li:hover {
      color: #3baeda; }

/* line 60, ../sass/objects/_panels.scss */
.post-panel {
  vertical-align: top; }
  @media only screen and (max-width: 49.92857em) {
    /* line 60, ../sass/objects/_panels.scss */
    .post-panel {
      width: 100%;
      display: block; } }
  /* line 68, ../sass/objects/_panels.scss */
  .post-panel .bottom-panel {
    overflow: hidden;
    /*clearfix*/ }
  /* line 72, ../sass/objects/_panels.scss */
  .post-panel li {
    padding: 20px 0;
    border-top: 1px solid #e3e4e8; }
  /* line 77, ../sass/objects/_panels.scss */
  .post-panel .first {
    border-top: none;
    padding-top: 0; }
  /* line 82, ../sass/objects/_panels.scss */
  .post-panel img, .post-panel .text {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top; }
  /* line 87, ../sass/objects/_panels.scss */
  .post-panel img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  /* line 90, ../sass/objects/_panels.scss */
  .post-panel .text {
    max-width: 60%; }
    /* line 93, ../sass/objects/_panels.scss */
    .post-panel .text h5 {
      margin: 0 0 10px 0;
      line-height: 1em;
      font-size: 14px;
      color: #ed5565; }
    /* line 99, ../sass/objects/_panels.scss */
    .post-panel .text p {
      font-size: 12px;
      font-weight: 100; }

@media only screen and (max-width: 49.92857em) {
  /* line 107, ../sass/objects/_panels.scss */
  .main-content .panel.forty-width, .main-content .sixty-width {
    width: 100%;
    display: block; } }
@media only screen and (min-width: 50em) and (max-width: 69.21429em) {
  /* line 107, ../sass/objects/_panels.scss */
  .main-content .panel.forty-width, .main-content .sixty-width {
    padding: 10px; }
    /* line 117, ../sass/objects/_panels.scss */
    .main-content .panel.forty-width .social-btn, .main-content .sixty-width .social-btn {
      width: 100%; } }

/*------------------------------------*\
    $MODULE-REGISTER-BOX
\*------------------------------------*/
/* line 7, ../sass/objects/_register-box.scss */
.register-form label {
  display: block;
  color: #768082;
  font-size: 13px;
  padding: 10px 0 5px 0; }
/* line 14, ../sass/objects/_register-box.scss */
.register-form input {
  width: 100%;
  margin-bottom: 10px; }
/* line 19, ../sass/objects/_register-box.scss */
.register-form .checkbox {
  margin-top: 10px; }
/* line 23, ../sass/objects/_register-box.scss */
.register-form input[type="checkbox"] {
  width: 10%;
  height: 20px; }
/* line 28, ../sass/objects/_register-box.scss */
.register-form .birth {
  width: 100%; }
  /* line 31, ../sass/objects/_register-box.scss */
  .register-form .birth input[type="text"] {
    width: 32.3%; }
/* line 36, ../sass/objects/_register-box.scss */
.register-form select {
  background: #fff;
  -webkit-appearance: none;
  color: #99a3b1; }

/* line 43, ../sass/objects/_register-box.scss */
.login-left {
  border-right: 1px solid #e3e4e8;
  padding: 0 20px; }
  @media only screen and (max-width: 49.92857em) {
    /* line 43, ../sass/objects/_register-box.scss */
    .login-left {
      border: none; } }

/* line 52, ../sass/objects/_register-box.scss */
.login-right {
  padding: 0 20px; }
  @media only screen and (max-width: 49.92857em) {
    /* line 52, ../sass/objects/_register-box.scss */
    .login-right {
      border: none;
      margin-top: 40px; } }

/*------------------------------------*\
    $BANNER
\*------------------------------------*/
/* line 5, ../sass/objects/_banner.scss */
.banner {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0; }
  /* line 11, ../sass/objects/_banner.scss */
  .banner .four-fifths, .banner .one-fifth {
    vertical-align: middle; }

/*------------------------------------*\
    $MODULE-HERO
\*------------------------------------*/
/* line 6, ../sass/objects/_module-hero.scss */
.hero figcaption {
  padding: 20px 0; }
/* line 9, ../sass/objects/_module-hero.scss */
.hero h1 {
  text-transform: uppercase;
  font-weight: 100;
  color: #333;
  padding-bottom: 10px; }
/* line 16, ../sass/objects/_module-hero.scss */
.hero p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5em; }

/*------------------------------------*\
    $MODULE-BOX
\*------------------------------------*/
/* line 6, ../sass/objects/_module-box.scss */
.box p {
  font-size: 12px;
  line-height: 1.5em; }
/* line 11, ../sass/objects/_module-box.scss */
.box figure {
  text-align: center; }
/* line 15, ../sass/objects/_module-box.scss */
.box img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
/* line 19, ../sass/objects/_module-box.scss */
.box figcaption {
  padding: 20px 0 20px 10px;
  text-align: left; }
  /* line 23, ../sass/objects/_module-box.scss */
  .box figcaption h2 {
    padding-bottom: 10px; }
  /* line 28, ../sass/objects/_module-box.scss */
  .box figcaption .icon {
    font-style: italic;
    padding-bottom: 10px; }
/* line 35, ../sass/objects/_module-box.scss */
.box.one-whole img {
  max-height: 220px; }
  @media only screen and (max-width: 49.92857em) {
    /* line 35, ../sass/objects/_module-box.scss */
    .box.one-whole img {
      width: 100%; } }
/* line 43, ../sass/objects/_module-box.scss */
.box.one-whole figcaption {
  padding: 10px 20px; }

/* line 50, ../sass/objects/_module-box.scss */
.box.half-width img {
  width: 100%; }
@media only screen and (max-width: 49.92857em) {
  /* line 49, ../sass/objects/_module-box.scss */
  .box.half-width {
    width: 100%;
    display: block; }
    /* line 57, ../sass/objects/_module-box.scss */
    .box.half-width img {
      width: 100%; }
    /* line 61, ../sass/objects/_module-box.scss */
    .box.half-width .btn {
      margin: 0 auto; } }
